/* OwlHacks 2020 
 * File: Core.css
 * Type: Stylesheet
 * Author: Zach Goncalves
 * URL: owlhacks.com
 */

@import 'partials/typography';
@import 'partials/colors';
@import 'partials/navigation';
@import 'partials/animations';
@import 'partials/buttons';
@import 'partials/footer';

 * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: rgba(61, 64, 78, 1);
}
.tualert {
    display: flex;
    justify-content: center;
    flex-flow:row wrap;
    position:relative;
    z-index:999999;
    background-color: #f1d30f;
    background-image: repeating-linear-gradient(-45deg,transparent,transparent 35px,rgba(255,255,255,0.2) 0,rgba(255,255,255,0.2) 70px);
    &__content {
        text-align: center;
        max-width:750px;
        padding:.5rem;
        span {
            color:#A41E35;
            font-size:2rem;
        }
        p {
            font-size:1.4rem;
            font-weight: bold;
            text-transform: uppercase;  
            color:#494949;
            line-height: 26px;
            a {
                color:#A41E35;
            }  
        }
    }
}

header {
    background-color: rgba(44, 85, 110, 1);
    background: url(../images/star-bg.png) no-repeat center, linear-gradient(180deg, rgba(61, 64, 78, 1), 50%, rgba(264, 152, 135, 1), 90%, rgba(247, 194, 133, 1) 100%);
    background-size:cover;
    position: relative;
}
.header-content {
    padding: 10rem 1rem 5rem 1rem;
    color: #FFF;
    text-align: center;
}
.page-jumbo h1 {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 3em;
    text-transform: uppercase;
    margin-top:3rem;
    text-shadow: 1px 4px 0px rgba(0, 0, 0, 0.1);
}
.page-jumbo span {
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}
.page-jumbo p {
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}
.page-jumbo h3 {
    text-shadow: 1px 4px 0px rgba(0, 0, 0, 0.1);
}
.btn {
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}
.section-header {
    text-align: center;
    padding:3rem 1rem;
    h2 {
        color: #FFF;
        font-weight: bold;
        letter-spacing: .1rem;
        span {
            background:$color--gray;
            padding:0 1rem;
            border-radius: 25px 25px 25px 0;
        }
    }
    &--inverse {
        h2 {
            color: $color--gray;
            span {
                background:#FFF;
            }
        } 
    }
}
.section-content {
    max-width:800px;
    margin:0 auto;
}
.about {
    color: #FFF;
    padding: 4rem 1rem 9rem 1rem;
    font-size: 1.25em;
    background:url(../images/group.jpg) center center no-repeat;
    background-size: cover;
    position: relative; 
    .overlay {
        z-index:1;
        position: absolute;
        top:0; 
        left:0;
        width:100%;
        height:100%;
        background:linear-gradient(180deg, rgba(61, 64, 78, 1), 50%, rgba(264, 152, 135, .75));
    }
    .container {
        position: relative;
        z-index:5;
    }
}

.img-display {
    max-width: 300px;
    height: auto;
    padding: 2rem;
}
.content-art {
    width:50%;
    height:auto;
    padding:2rem;
    background:#FFF;
    border:10px double $color--yellow;
    border-radius:50%;
}
.stat-list {
    padding-top:3rem;
    &__stat {
        display:block;
        background:rgba(255,255,255,.5);
        box-shadow:0px 3px 10px rgba(0,0,0,.2);
        border-radius:15px;          
        padding:1rem;
        text-align: center;
        margin-bottom:2rem;
        span {
            display:block;
            font-size:3rem;
        }
    }
    &--small {
        h3 {
            span {
                font-size:1.2rem;
                
            }
        }
    }
    p:last-child {
        font-size:.85rem;
        font-style: italic;
    }
}
/*
 * Sponsors 
 */
.sponsors {
    background:#FFF;
    padding:4rem 1rem;
}
.sponsor-logo-container {
    margin-bottom: 4rem;
    text-align: center;
}
.sponsor-logo-container > .row {
    margin: 5%;
    margin-bottom: 7.5%;
}
.sponsor-logo-img {
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.title {
    width: 75%;
}
.emerald {
    width: 100%;
}
.platnium {
    width: 90%;
}
.gold {
    width: 80%;
}
.thanks {
    width: 40%;
}
.sponsor-intro {
    color: #FFF;
    padding: 3rem 1rem 8rem 1rem;
    background:url(../images/volunteers.jpg) center center no-repeat;
    background-size: cover;
    position: relative; 
    .overlay {
        z-index:1;
        position: absolute;
        top:0; 
        left:0;
        width:100%;
        height:100%;
        background:linear-gradient(180deg, rgba(61, 64, 78, 1), 50%, rgba(264, 152, 135, .75));
    }
    .container {
        position: relative;
        z-index:5;
    }
    &--alt {
        background:url(../images/students.jpg) center center no-repeat;
        background-size: cover;
    }
}
.sponsor-impact {
    background:#FFF;
    padding:4rem 1rem 8rem 1rem;
}
.sponsor-tiers {
    padding:4rem 1rem;
}
.tier-table {
    margin: 0;
    background:#FFF;
    border:2px solid $color--dark-gray;
    thead {
        background:$color--dark-gray;
        color:#FFF;
        font-size:1.2rem;
        th {
            border-bottom-color:$color--dark-gray;
        }
        th:not(:first-child) {
            text-align: center;
        }
        th:nth-child(2) {
            background:#999999;
            color:#000;
        }
        th:nth-child(3) {
            background:#FFD700;
            color:#000;
        }
        th:nth-child(4) {
            background:#e5e5e5;
            color:#000;
        }
        th:nth-child(5) {
            background:#9D2235;
        }
    }
    &__pricing {
        background:#FFF;
        font-weight: bold;
        th {
            font-size:.9rem;
            letter-spacing: .1rem;
            text-transform: uppercase;   
            font-weight: bolder;
        }
    }
    &__heading {
        background:$color--dark-gray;
        color:#FFF;
        font-size:.8rem;
        letter-spacing: .1rem;
        text-transform: uppercase;
        th {
            padding:.5rem 1rem;
        }
    }
    tbody {
        tr {
            td {
                text-align: center;
                border-bottom-color: rgba(0,0,0,.1);
            }
        }
    }
}
/*
 * Schedule 
 */
 .schedule {
    background-image: linear-gradient(180deg, rgba(61, 64, 78, 1), 50%, rgba(264, 152, 135, 1), 90%, rgba(247, 194, 133, 1) 100%);
    padding: 4rem 1rem 10rem 1rem;
 }
 .schedule-block {
    margin-bottom:2rem;
 }
 .schedule h3 {
    color:#000;
    font-weight: bold;
    margin-bottom: 0;
    background: rgba(247, 194, 133, 1);
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 25px 25px 25px 0;
 }
.schedule-table {
    table-layout: auto;
}
.schedule-table tr {
    border-left:5px solid rgba(247, 194, 133, 1);
}
.schedule-table tr td { 
    padding: 1rem;
    font-size: 1.25em;
}
.schedule-table tr td:first-of-type { 
    color:#FFF;
    font-weight: bolder;
    background:rgba(0, 0, 0, .1);
}
.schedule-table tr td:nth-child(2) {
    color:#FFF;
    font-family: 'Arvo', serif;
    font-weight: bolder;
}
.schedule-link {
    font-size: .75em;
    color: #fff;
}
.schedule-table tr:last-of-type td:first-of-type {
    border-bottom-right-radius: 25px;
}
.google-calendar {
    border-radius: 1em;
}
/*
 * FAQ
 */

.faq {
    padding-bottom: 10em;
    background:rgba(247, 194, 133, 1);
}

.accordion .card {
    background: none;
    border: none;
}

.accordion .card .card-header {
    background: none;
    border: none;
    padding: 2rem 0 0 0;
}

.accordion .card .card-header h2 button {
    background: #846063;
    border-radius: 25px 25px 25px 0;
    color: #FFF;
    font-size: 0.6em;
}

.accordion .card .card-body {
    background: rgba(255, 255, 255, .1);
    border-left:5px solid #846063;
    color: #000;
    border-radius: 0 0 25px 0;
}

.btn-white-outline {
    border: 3px solid rgba(255, 255, 255, .2);
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: .9em;
    color: #FFF;
    transition: 150ms linear;
}

.btn-white-outline:hover {
    background: #FFF;
    color: #036;
}
/*
 * SWAG
 */


#section-cloud:after {
    content: '';
    z-index: 999;
    border-radius: 25px;
    max-width: 100px;
    width: 100%;
    height: 30px;
    display: inline-block;
    background-color: #fff;
    box-shadow: -20px -10px 0 -2px #fff, 10px 0 0 0 #fff;
    animation: slow-float 3s infinite;
}

#cloud:after {
    content: '';
    position: absolute;
    z-index: 999;
    border-radius: 25px;
    width: 100px;
    height: 15px;
    background-color: #fff;
    top: 0px;
    right: 0px;
    box-shadow: -20px -10px 0 -2px #fff, 10px 0 0 0 #fff;
    animation: slow-float 3s infinite;
}

#cloud:nth-child(2):after {
    top: 100px;
    left: -30px;
    box-shadow: 25px -10px 0 0px #fff, 15px 7px 0 -2px #fff;
}

#star {
    height: 5px;
    width: 5px;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 200px 100px 0 0 #fff, 180px 50px 0 0 #fff, -30px 120px 0 0 #fff, -45px 50px 0 0 #fff, 110px -30px 0 0 #fff, 100px -40px 0 -1px #fff, 150px 120px 0 -1px #fff, 35px -55px 0 -1px #fff, 0px -30px 0 0 #fff, 200px 0px 0 0 #fff, 205px 90px 0 -1px #fff, 250px -50px 0 -1px #fff, -100px 90px 0 0px #fff, -90px -50px 0 -1px #fff;
}

#moon {
    margin: 0 auto;
    position: relative;
    width: 150px;
    height: 150px;
    background-color: #fae4a8;
    border-radius: 50%;
    background-image: radial-gradient(circle at 40% 80%, #ddc997 10%, transparent 0), radial-gradient(circle at 55% 70%, #ddc997 5%, transparent 0), radial-gradient(circle at 58% 85%, #ddc997 6%, transparent 0), radial-gradient(circle at 80% 40%, #ddc997 12%, transparent 0), radial-gradient(circle at 87% 58%, #ddc997 4%, transparent 0);
    animation: float 3s infinite;
}

@keyframes float {
    0%,
    100% {
        transfrom: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes slow-float {
    0%,
    100% {
        transfrom: translateX(0);
    }
    50% {
        transform: translateX(-5px);
    }
}

@keyframes zoom {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.7);
    }
}

@media (max-width: 768px) {
    .navbar-toggler {
        margin-right: 10% !important;
    }
    .page-jumbo h1 {
        font-size: 2em;
        margin-top:0;
    }
}

@media (min-width: 768px) {
    header {
        min-height:100vh;
    }
    .page-jumbo {
        padding-left:3rem;
    }
    .header-links {
        position:absolute;
        bottom:0;
        width:100%;
    }
    .header-content {
        text-align: left;
    }
    .page-jumbo h1 {
        font-size: 4em;
        margin-top:0;
    }
    .content-art {
        width:100%;
    }
    .navbar-toggler {
        margin-right: 12.5%;
    }
    .header-button-container {
        position: absolute;
        bottom:0;
        left:0;
        width:100%;
        overflow:hidden;
    }
}

@media (min-width: 992px) {
    #cloud:after {
        content: '';
        position: absolute;
        z-index: 999;
        border-radius: 25px;
        width: 100px;
        height: 15px;
    }
    #cloud:nth-child(2):after {
        top: 100px;
        left: -30px;
    }
    #moon {
        width: 250px;
        height: 250px;
    }    
}

@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}