.owlhacks-navbar {
    transition: 150ms linear;
    background: rgba(61, 64, 78, 1);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0px 6px 7px rgba(0, 0, 0, .05);
}

.navbar-brand {
    padding-right: 1em;
}

.nav-logo {
    max-width: 100px;
    height: auto;
    transition: 150ms linear;

}
.owlhacks-nav .nav-item .nav-link {
    font-family: 'Arvo', serif;
    color: #FFF;
    font-weight: bold;
    letter-spacing: .5px;
    font-size: 1.2em;
    border-bottom: 2px solid transparent;
    transition: 150ms linear;
}

.owlhacks-nav .nav-item .nav-link:hover {
    border-color: #FFF;
}

.nav-toggle {
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: .8em;
}


@media (min-width: 992px) {
    .owlhacks-navbar {
        background: none;
        border-bottom: none;
        box-shadow: none;
    }
    .nav-logo {
        max-width: 175px;
    }
    .owlhacks-navbar-small {
        background: rgba(61, 64, 78, 1);
        padding: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        box-shadow: 0px 6px 7px rgba(0, 0, 0, .05);
        transition: 150ms linear;
    }
    .owlhacks-navbar-small .nav-logo {
        max-width: 100px;
    }
    .owlhacks-nav-small .nav-item .nav-link {
        font-size: 1em;
    }
}

@media (min-width: 1200px) {
    .owlhacks-nav .nav-item:not(:last-of-type) .nav-link {
        margin-right: 1rem;
    }
}