/* OwlHacks 2020 
 * File: Core.css
 * Type: Stylesheet
 * Author: Zach Goncalves
 * URL: owlhacks.com
 */

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: rgba(61, 64, 78, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Arvo', serif;
}
p {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: rgba(44, 85, 110, 1);
    background: url(../images/star-bg.png) no-repeat center, linear-gradient(180deg, rgba(61, 64, 78, 1), 50%, rgba(264, 152, 135, 1), 90%, rgba(247, 194, 133, 1) 100%);
    background-size:cover;
    height:100vh; /* remove later*/
}
.owlhacks-navbar {
    transition: 150ms linear;
    background: rgba(61, 64, 78, 1);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0px 6px 7px rgba(0, 0, 0, .05);
}

.navbar-brand {
    padding-right: 1em;
}

.nav-logo {
    max-width: 100px;
    height: auto;
    transition: 150ms linear;
}
.jumbo-logo {
    max-width:250px;
    height:auto;
}
.owlhacks-nav .nav-item .nav-link {
    font-family: 'Arvo', serif;
    color: #FFF;
    font-weight: bold;
    letter-spacing: .5px;
    font-size: 1.2em;
    border-bottom: 2px solid transparent;
    transition: 150ms linear;
}

.owlhacks-nav .nav-item .nav-link:hover {
    border-color: #FFF;
}

.nav-toggle {
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: .8em;
}

.header-content {
    padding-top: 30vh;
    color: #FFF;
}
.page-jumbo h1 {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 5em;
    text-transform: uppercase;
    text-shadow: 1px 4px 0px rgba(0, 0, 0, 0.1);
}
.page-jumbo span {
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}
.page-jumbo p {
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}
.btn-header {
    text-align: center;
    color: rgba(255, 255, 255, .8);
    background: rgba(61, 64, 78, .8);
    font-weight: bolder;
    font-size: 1.2em;
    padding: 1rem;
    transition: 150ms linear;
    border: 1px solid rgba(0, 0, 0, .05);
    border-bottom: 2px solid rgba(0, 0, 0, .1);
}
.btn-header:hover {
    color: #FFF;
    text-decoration: none;
    background: rgba(61, 64, 78, 1);
}
.btn {
    border-radius: 0;
}
.btn>.fa-angle-right {
    transition: 150ms linear;
}
.btn:hover>.fa-angle-right {
    transform: translateX(0.375rem);
}
.btn-white {
    border-radius:25px;
    color:#FFF;
    background:none;
    transition: 150ms linear;
    font-weight: bold;
    border:3px solid #FFF;
}
.btn-white:hover {
    background:#FFF;
    color:#000;
}
.section-header {
    text-align: center;
    padding:4rem 1rem;
    background:url(../images/cloud.png) center center no-repeat;
}

.section-header h2 {
    color: rgba(61, 64, 78, 1);
    font-weight: bold;
}

.about {
    color: #FFF;
    padding: 3rem 0 5rem 0;
    font-size: 1.25em;
}

.img-display {
    max-width: 300px;
    height: auto;
    padding: 2rem;
}


/*
 * Sponsors 
 */

.sponsors {
    background:#FFF;
}
.sponsors .section-header {
    padding-bottom:0;
}
.sponsors h2 {
    color: #FFF;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    color:#000;
    margin-bottom: 0;
}
.sponsor-logo-container {
    margin-bottom: 4rem;
    text-align: center;
}

.sponsor-logo {
    max-width: 300px;
    height: auto;
    padding:2rem;
}

/*
 * Schedule 
 */
 .schedule {
    background-image: linear-gradient(180deg, rgba(61, 64, 78, 1), 50%, rgba(264, 152, 135, 1), 90%, rgba(247, 194, 133, 1) 100%);
    padding-bottom: 10rem;
 }
 .schedule h3 {
    color:#000;
    font-weight: bold;
    margin-bottom: 0;
    background: rgba(247, 194, 133, 1);
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 25px 25px 25px 0;
 }
.schedule-table {
    table-layout: auto;
}
.schedule-table tr {
    border-left:5px solid rgba(247, 194, 133, 1);
}
.schedule-table tr td { 
    padding: 1rem;
    font-size: 1.25em;
}
.schedule-table tr td:first-of-type { 
    color:#FFF;
    font-weight: bolder;
    background:rgba(0, 0, 0, .1);
}
.schedule-table tr td:last-of-type {
    color:#FFF;
    font-family: 'Arvo', serif;
    font-weight: bolder;
}
.schedule-table tr:last-of-type td:first-of-type {
    border-bottom-right-radius: 25px;
}

/*
 * FAQ
 */

.faq {
    padding-bottom: 10em;
    background:rgba(247, 194, 133, 1);
}

.accordion .card {
    background: none;
    border: none;
}

.accordion .card .card-header {
    background: none;
    border: none;
    padding: 2rem 0 0 0;
}

.accordion .card .card-header h2 button {
    background: #846063;
    border-radius: 25px 25px 25px 0;
    color: #FFF;
}

.accordion .card .card-body {
    background: rgba(255, 255, 255, .1);
    border-left:5px solid #846063;
    color: #000;
    border-radius: 0 0 25px 0;
}

.btn-white-outline {
    border: 3px solid rgba(255, 255, 255, .2);
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: .9em;
    color: #FFF;
    transition: 150ms linear;
}

.btn-white-outline:hover {
    background: #FFF;
    color: #036;
}


/*
 * FOOTER
 */

footer {
    padding: 3rem 2rem;
    border-top: 3px solid rgba(0, 0, 0, .1);
    background: rgba(41, 43, 53, 1);
    font-family: 'Poppins', sans-serif;
}

.footer-header {
    color: #FFF;
    letter-spacing: 1px;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bolder;
    padding-top: 1em;
    opacity: .6;
    transition: 150ms linear;
}

.footer-header:hover {
    opacity: 1;
}

.footer-logo {
    max-width: 200px;
    height: auto;
}

.footer-links {
    list-style: none;
    padding-left: 0;
}

.footer-links li {
    padding: .2em 0;
}

.footer-links li a {
    text-decoration: none;
    color: rgba(255, 255, 255, .30);
    font-size: .85rem;
    transition: 150ms linear;
}

.footer-links li a:hover {
    color: #FFF;
}

.footer-links-horizontal li {
    display: inline-block;
}

.footer-links-horizontal li a {
    display: block;
    padding: 0 .25rem;
}

.footer-links-horizontal li:first-child a {
    padding-left: 0;
}

.footer-links-horizontal li:not(:last-child) a::after {
    content: '|';
    color: rgba(0, 0, 0, .50);
    margin-left: 1rem;
}

.footer-title {
    color: rgba(255, 255, 255, .70);
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Arvo', serif;
}

.footer-social-container {
    margin-top: 1rem;
}

.footer-social {
    font-size: 1.4rem;
    margin-right: 2px;
    color: #6c6c6c;
}

.footer-social:hover {
    color: #FFF;
}

.footer-text {
    color: rgba(255, 255, 255, .30);
    font-size: .8rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    padding-top: 1rem;
}

.footer-text p {
    margin-bottom: .25rem;
}

#section-cloud:after {
    content: '';
    z-index: 999;
    border-radius: 25px;
    max-width: 100px;
    width: 100%;
    height: 30px;
    display: inline-block;
    background-color: #fff;
    box-shadow: -20px -10px 0 -2px #fff, 10px 0 0 0 #fff;
    animation: slow-float 3s infinite;
}

#cloud:after {
    content: '';
    position: absolute;
    z-index: 999;
    border-radius: 25px;
    width: 100px;
    height: 15px;
    background-color: #fff;
    top: 0px;
    right: 0px;
    box-shadow: -20px -10px 0 -2px #fff, 10px 0 0 0 #fff;
    animation: slow-float 3s infinite;
}

#cloud:nth-child(2):after {
    top: 100px;
    left: -30px;
    box-shadow: 25px -10px 0 0px #fff, 15px 7px 0 -2px #fff;
}

#star {
    height: 5px;
    width: 5px;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 200px 100px 0 0 #fff, 180px 50px 0 0 #fff, -30px 120px 0 0 #fff, -45px 50px 0 0 #fff, 110px -30px 0 0 #fff, 100px -40px 0 -1px #fff, 150px 120px 0 -1px #fff, 35px -55px 0 -1px #fff, 0px -30px 0 0 #fff, 200px 0px 0 0 #fff, 205px 90px 0 -1px #fff, 250px -50px 0 -1px #fff, -100px 90px 0 0px #fff, -90px -50px 0 -1px #fff;
}

#moon {
    margin: 0 auto;
    position: relative;
    width: 250px;
    height: 250px;
    background-color: #fae4a8;
    border-radius: 50%;
    background-image: radial-gradient(circle at 40% 80%, #ddc997 10%, transparent 0), radial-gradient(circle at 55% 70%, #ddc997 5%, transparent 0), radial-gradient(circle at 58% 85%, #ddc997 6%, transparent 0), radial-gradient(circle at 80% 40%, #ddc997 12%, transparent 0), radial-gradient(circle at 87% 58%, #ddc997 4%, transparent 0);
    animation: float 3s infinite;
}

@keyframes float {
    0%,
    100% {
        transfrom: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes slow-float {
    0%,
    100% {
        transfrom: translateX(0);
    }
    50% {
        transform: translateX(-5px);
    }
}

@keyframes zoom {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.7);
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    header {
        height:100vh;
    }
    .page-jumbo {
        padding-left:3rem;
    }
    .header-links {
        position:absolute;
        bottom:0;
        width:100%;
    }
}

@media (min-width: 992px) {
    .owlhacks-navbar {
        background: none;
        border-bottom: none;
        box-shadow: none;
    }
    .nav-logo {
        max-width: 175px;
    }
    .owlhacks-navbar-small {
        background: rgba(61, 64, 78, 1);
        padding: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        box-shadow: 0px 6px 7px rgba(0, 0, 0, .05);
        transition: 150ms linear;
    }
    .owlhacks-navbar-small .nav-logo {
        max-width: 100px;
    }
    .owlhacks-nav-small .nav-item .nav-link {
        font-size: 1em;
    }
    .jumbo-logo {
        max-width:450px;
        height:auto;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
    .owlhacks-nav .nav-item:not(:last-of-type) .nav-link {
        margin-right: 1rem;
    }
}