@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-sky-fill: #2177cf;
  --color-body-fill: #e0e0e0;
  --color-body-inverted: #131313;
  --color-body-light: #D6D6D6;
  --color-text-base: #131313; 
  --color-button-hover:#CCCCCC;
  --color-text-muted: #8F8F8F;
  --color-border-base: #131313;
  --color-discord: #3b4270; 
}
/* sky fill: #221240 */
[data-theme='dark'] {
  --color-sky-fill: #2177cf;
  --color-body-fill: #131313;
  --color-body-inverted: #e0e0e0;
  --color-body-light: #292929;
  --color-button-hover:#292929;
  --color-text-base: #e0e0e0;
  --color-text-secondary: #C2C2C2;
  --color-text-muted: #8F8F8F;
  --color-border-base: #e0e0e0;
}

* {
  min-width: 0;
}

html, body { 
  overflow-x: hidden;
}

body {
  position: relative;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
