@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-theme-primary: #39A78E;
  --color-theme-secondary: #3EB69A;

  --color-body-fill: #181818;
  --color-body-light: #202020;
  --color-body-lighter: #292929;
  --color-body-inverted: #e0e0e0;
  --color-sky-fill: #c2e5e7;

  --color-button: #181818;
  --color-button-hover:#202020;

  --color-text-base: #e0e0e0;
  --color-text-secondary: #C2C2C2;
  --color-text-muted: #8F8F8F;

  --color-border-base: #181818;
  --color-border-light: #202020;
  --color-border-lighter: #292929;
  --color-border-inverted: #e0e0e0;

  scrollbar-color: var(--color-body-fill);
  scrollbar-arrow-color: var(--color-body-fill);
  scrollbar-face-color: var(--color-text-base);
}

* {
  min-width: 0;
  scroll-behavior: smooth;
}

nav {
  background-color: var(--color-body-fill);
}

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
  background-color: var(--color-body-fill);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.125rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.625rem;
}

p {
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 4.25rem;
  }

  h3 {
    font-size: 3.5rem;
  }

  h4 {
    font-size: 2.75rem;
  }

  h5 {
    font-size: 2rem;
  }

  h6 {
    font-size: 1.25rem;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: var(--color-body-fill);
}

::-webkit-scrollbar-thumb {
  background: var(--color-text-base);
  border-radius: 100vw;
}